html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e8b5bd;
}

.login-page {
  min-height: 100vh;
  padding-top: 160px;
  padding-bottom: 40px;
  background: #e8b5bd;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-card {
  background: rgba(255, 240, 240, 0.25);
  padding: 40px;
  width: 600px;
  border-radius: 25px;
  backdrop-filter: blur(8px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  color: #7e3e44;
  font-size: 26px;
  font-weight: bold;
}

.input-label {
  color: #7e3e44;
  margin-bottom: 5px;
  font-size: 14px;
  display: block;
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}


.login-input {
  width: 100%;
  padding: 10px 35px 10px 5px;
  border: none;
  border-bottom: 1px solid #7e3e44;
  background: transparent;
  font-size: 15px;
  outline: none;
  color: #4a1f23;
}

.input-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  /* Larned from https://www.w3schools.com/cssref/css3_pr_transform.php*/
  transform: translateY(-50%);
  font-size: 15px;
  color: #7e3e44;
}

.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  /* Learned this from https://www.w3schools.com/css/css3_gradients.asp */
  background: linear-gradient(to bottom right, #e6b5ba, #a25258);
  color: #4a1f23;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  /* Learned from https://www.w3schools.com/cssref/pr_class_cursor.php */
  cursor: pointer;
   /* Learned from https://www.w3schools.com/css/css3_transitions.asp*/
  transition: 0.2s;
}

.login-btn:hover {
  opacity: 0.9;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  color: #7e3e44;
}

.login-links span {
  cursor: pointer;
}

.login-message {
  text-align: center;
  margin-top: 10px;
  color: #7e3e44;
}
