.navbar {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;  
  height: 80px;   
  background: #fbd1da;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;   
  /* Learned from https://www.w3schools.com/css/css3_box-sizing.asp */
  box-sizing: border-box;
  /* Learned from https://www.w3schools.com/cssref/css3_pr_box-shadow.php */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  /* Learned from https://www.w3schools.com/cssref/pr_pos_z-index.php */
  z-index: 1000;
}
.nav-logo {
  font-size: 22px;
  font-weight: 700;
  color: #6c2a3e;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #6c2a3e;
  transition: 0.2s;
}

.nav-links a:hover {
  opacity: 0.7;
}

.logout-btn {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  /* Learned from https://www.w3schools.com/cssref/pr_class_cursor.php */
  cursor: pointer;
  background: #f6d5db;
  color: #6c2a3e;
  font-size: 15px;
  font-weight: 600;
  /* Learned from https://www.w3schools.com/css/css3_transitions.asp*/
  transition: 0.2s;
}

.logout-btn:hover {
  background: #f2b7c0;
}

body {
  padding-top: 80px;
}